* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.training-section {
    width: 100%;
    background-image: url('bg_image.jpg');
    background-size: cover;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.training-section h1 {
    text-align: center;
    padding: 25px 0;
}

.container {
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.training-items img {
    width: 100px;
    height: 100px;
}

.training-items {
    flex-basis: 23%;
    margin: 10px 0;
    text-align: center;
    box-shadow: 0px 0px 10px 3px lightgray;
    background: white;
    padding: 20px 0;
}

.training-items:hover {
    background-color: blue;
    cursor: pointer;
}

.training-items:hover h3,
.training-items:hover p {
    color: white;
}

.training-items:hover button {
    background: white;
    color: blue;
}

.training-items h3 {
    padding: 10px 0;
}

.training-items p {
    font-size: 14px;
    padding: 10px;
}

.training-items button {
    background-color: blue;
    padding: 10px 25px;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
}
/* Large screens - 3 cards per row */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .training-items {
        flex-basis: calc(33.333% - 20px); /* 3 cards per row */
        margin: 10px;
    }
    .container {
        width: 100%;
        flex-wrap: wrap;
    }
}

/* Medium screens - 2 cards per row */
@media only screen and (min-width: 500px) and (max-width: 767px) {
    .container {
        width: 100%;
        flex-wrap: wrap;
    }

    .training-items {
        flex-basis: calc(50% - 20px); /* 2 cards per row */
        margin: 10px;
    }
}

/* Small screens - 1 card per row */
@media only screen and (min-width: 200px) and (max-width:500px) {
    .training-items {
        margin: 10px;
    }
    .container{
        width: 100%;
        flex-direction: column;
    }
}